<html>
   <head>
      <title>
	      {% block title %}{% endblock %}
      </title>
	  {% block script %}{% endblock %}
   </head>
   <body>
      <div class="min_width">
	         <!--header -->
        <div id="header">
        	<div class="menu">
            	<div class="menu_left">
                	<div class="menu_right">
                    	<div class="menu_indent">
                        	<ul>  
                                {% block header %}{% endblock %}

                                {% block header_last %}{% endblock %}
                            </ul>	
                        </div>
                    </div>
                </div>
            </div>
            <div class="indent">
                <div class="logo">
                    <h1>Ивушка</h1>
                    <div><span>Мы продаем только самую лучшую мебель</span></div>
                </div>                
            </div>
        </div>
        <!--header end--> 
	    <!--content -->
        <div class="content">
            <div class="indent">
                <div class="w100">
                    <div class="column_center">
                        <div class="indent_center">
                        	<div class="title">
                            	<div class="bg_title">{% block tbody %}{% endblock %}</div>                                
                            </div>
                            <div class="text_box">
                                {% block body %}{% endblock %} 
                            </div>								
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--content end-->
         {% block body2 %}{% endblock %}  
		 
         
	  </div>
   </body>