{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block script %}
      <script type="text/javascript" src="/media/js/jQuery.js"></script>
	  <script type="text/javascript" src="/media/js/Print.js"></script>
	  <script type="text/javascript">
	  $(document).ready(function(){
			$("#print").click(function(){
	   $(".print").printElement({pageTitle:'Отчет',overrideElementCSS:[
        "/media/style2.css",
        { href:'/media/style2.css'}]
            });
	});			   
	$(window).resize(function(){

		$('.center').css({
			position:'absolute',
			left: ($(window).width() - $('.center').outerWidth())/2			
		});
		
	});
	// To initially run the function:
	$(window).resize();

});
	  
	  
	  </script>

     <link href="/media/style.css" rel="stylesheet" type="text/css" />
     <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% endblock %}
{% block header_last %}
				
            <li><a href="/logout/">Выход</a>
			<li><a href="/storekeeper/">Назад</a>
{% endblock %}
{% block tbody %}
<h2>Имеющийся товар</h2>
{% endblock %}
{% block body %}
     
                           <form name="find" method="POST" action="">{% csrf_token %}		
			                 <table class="cente">
			                   {{ form }}
							   <td><input value="Найти" class="submit-img" name ="Act" type="submit" /></td>
	                           <td><input value="Печать" class="submit-img" id="print" name ="Act" type="button"></td>
							 </table>
							</form>
							<div class="print">
                           
						   
						   
				{% for object in furnityres %}
                    {% ifchanged object.type %} 
                         {% if object.type == "Стул" %}
						 </table>
	                     <h2>Стулья</h2>
						 
						   <table class="all">
	            <th class="centre">Изображение</th>
				<th>Модель</th>
				<th>Производитель</th>
				<th>Цвет</th>
				<th>Размеры</th>       
				<th>Цена</th>
				<th>Количество ножек</th>
				<th>Высота спинки</th>
				<th></th>
						 
						 {% endif %}
			    {% if object.type == "Шкаф" %}
				 </table>
	                     <h2>Шкафы</h2>
						 
						   <table class="all">
	            <th class="centre">Изображение</th>
				<th>Модель</th>
				<th>Производитель</th>
				<th>Цвет</th>
				<th>Размеры</th>       
				<th>Цена</th>
				<th>Количество дверей</th>
				<th>Замок</th>
				<th></th>
				
						 
						 {% endif %}
                {% if object.type == "Кресло" %}
				 </table>
	   	        <h2>Кресла</h2>
	            <table class="all">
	            <th class="centre">Изображение</th>
				<th>Модель</th>
				<th>Производитель</th>
				<th>Цвет</th>
				<th>Размеры</th>       
				<th>Цена</th>
				<th>Материал</th>
				<th>Наличие газопатрона</th>
				<th></th>		
                {% endif %}		
          
		  {% if object.type == "Полка" %}
		   </table>
	   	   <h2>Полки</h2>
	        <table class="all">
	            <th class="centre">Изображение</th>
				<th>Модель</th>
				<th>Производитель</th>
				<th>Цвет</th>
				<th>Размеры</th>       
				<th>Цена</th>
				<th>М. вес содержимого</th>
                <th>&nbsp;&nbsp;&nbsp;</th>
				<th></th>		
             {% endif %}					
                    {% endifchanged %} 					 

	 
      				

        <tr>
            <td class="centre"><img src="{{ MEDIA_URL }}{{object.image }}" height="50px" width="50px"></td>
			<td>{{ object.model }}</td>
			<td>{{ object.manufacturer }}</td>
			<td>{{ object.color }}</td>
			<td>{{ object.dimensions }}</td>
			<td>{{ object.price }}</td>
			{% if object.type == "Стул" %}
			<td>{{ object.quantity_of_legs }}</td>
			<td>{{ object.height_spin }}</td>
			          {% endif %}	
			{% if object.type == "Кресло" %}
			<td>{{ object.material }}</td>
			<td>{{ object.has_gazopatron }}</td>
			          {% endif %}	
			{% if object.type == "Шкаф" %}
			<td>{{ object.quantity_of_doors }}</td>
			<td>{{ object.has_lock }}</td>
			          {% endif %}	
			{% if object.type == "Полка" %}
			<td>{{ object.max_weight }}</td>
			          {% endif %}	
			
            <td><a href="/furniture/update/{{ object.id }}/"}>Изменить</a></td>
	    </tr>

	

   {% endfor %}
		   
		</div>				   
						   
						   
			
	   </table>
	 
	   <table class="center">
	        <span class="step-links"> 
        {% if furnityres.has_previous %} 
            <td><a href="?page={{ furnityres.previous_page_number }}">Предыдущая</a> </td>
        {% endif %} 
        <td>Страница {{ furnityres.number }} из {{ furnityres.paginator.num_pages }}. </td> 
        {% if furnityres.has_next %} 
            <td><a href="?page={{ furnityres.next_page_number }}">Следующая</a> </td>
        {% endif %} 
     </span>
	   </table>
 


	    
		
{% endblock %} 
