{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<form name="{{ nameform }}" method="Post" action="get">{% csrf_token %}
    <table>
      {% for order in orders %}
        <tr>
		    <td>{{ order.id}}</td>
			<td>{{ order.date_orders }}</td>
			<td><a href="/storekeeper/order/{{ order.id}}/"}>Просмотр</a></td>
	    </tr>
     {% endfor %}	    
    </table>
	    <h1> Принятие товара</h1>
		<table>
	       <tr><td><input type="submit" value="Стул" name ="Action"}}></td>
	       <td><input type="submit" value="Кресло" name ="Action"}}></td></tr>
	       <tr><td><input type="submit" value="Шкаф" name ="Action"}}></td>
	       <td><input type="submit" value="Полка" name ="Action"}}></td></tr>
	   </table>
	   <table>
	       {% for pieceoffurniture in pieceoffurnitures %}
        <tr>
            <td>{{ pieceoffurniture.image }}</td>
		    <td>{{ pieceoffurniture.type }}</td>
			<td>{{ pieceoffurniture.model }}</td>
			<td>{{ pieceoffurniture.color }}</td>
			<td>{{ pieceoffurniture.price }}</td>
            <td><a href="/furniture/update/{{ pieceoffurniture.id }}/"}>Изменить</a></td>
	    </tr>
		   {% endfor %}
	   </table>
</form>
{% endblock %}
